[Desktop Entry]
Type=Application
Name=linux-vortex (unofficial Vortex)
Comment=Unofficial AppImage of Nexus Mods' Vortex mod manager
Exec=@EXEC@ %u
Icon=linux-vortex
Categories=Network;Game;Utility;
Terminal=false
MimeType=x-scheme-handler/nxm;
