[Desktop Entry]
Type=Application
Name=linvortex (unofficial Vortex)
Comment=Unofficial AppImage of Nexus Mods' Vortex mod manager
Exec=@EXEC@ %u
Icon=linvortex
Categories=Network;Game;Utility;
Terminal=false
MimeType=x-scheme-handler/nxm;
